.lesson{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    p{
      margin: 0;
      margin-top: 10px;
      font-weight: 600;
    }


        .text{
            font-weight: 500;
            color:#000
        }


    video[poster]{
        border-radius:15px;
        object-fit: cover;

        }  

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
            display: flex;
            justify-content: space-between;
            align-items:center;
            width: 500px;
            padding: 10px 20px;
            border-radius:10px;

            p{
                margin: 0;
                font-weight: 500;
            }
            
         }
        li:nth-child(odd) { background: #fff; }
    }

    span{
        color:red;
    }

    .main-lesson-video{
        width: 500px;
        border-radius:10px; 
    }

    button{
        padding: 5px 10px;
        border-radius: 5px;
        color:#fff;
        text-decoration: none;
        font-family: montserrat;
        border: 2px solid #D8541C;
        background-color:#D8541C;
        transition: all .3s ease-in-out;
    }

    button:hover{
        background-color:#fff;
        color:#D8541C;
        cursor: pointer;
    }
    
    .video-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .video-box {
        position: relative;
        width: 80%;
        max-width: 800px;
        background-color: #000;
        padding: 20px;
        border-radius: 10px;
        color:#fff;

        .navbar{
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding-bottom: 10px;
        }
    
    }
    
    .lesson-video{
        width: 100%;
    }
    
    .close-button{
        text-align: end;
    }
}


@media screen and (max-width: 768px){
    .lesson{
        width: 90%;

        .main-lesson-video{
            width: 90%;
        }

        ul{
            padding: 0;
            width: 90%;
        li{
            width: 100%;
            display: flex;
            flex-direction: column;

            p{
                padding-bottom: 10px;
            }
        }}
    }

}