.NotFound{
    a{
        padding: 5px 10px;
        border-radius: 5px;
        color:#D8541C;
        text-decoration: none;
        font-family: montserrat;
        border: 2px solid #D8541C;
        transition: all .3s ease-in-out;
        }
    a:hover{
        background-color:#D8541C;
        color:#fff;
    }
}